@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 2rem;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  padding: 0 10%;
}

.header nav {
  height: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.links {
  margin: 0 1rem;
  width: 5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.header li:hover,
.header li:active,
.header li.active {
  color: #fe8e27;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fe8e27;
  cursor: pointer;
}

.links:hover,
.links:active {
  color: #fe8e27;
}

.link__list li {
  text-decoration: none;
  list-style: none;
}

.abouts {
  color: black;
  text-decoration: none;
  text-align: center;
}

.abouts:hover,
.abouts:active {
  color: #fe8e27;
  cursor: pointer;
}

.logo {
  width: 6rem;
  position: relative;
  top: 30px;
}

.footer {
  background-color: #fe8e27;
}

.modal-btn {
  min-width: 100px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background-color: #141414;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.potionsDiv {
  background-color: green;
  min-height: 300px;
  width: 600px;
  display: flex;
  align-items: flex-end;
}

.message-div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: antiquewhite;
  margin: 30px;
  padding: 20px;
}

.overlay {
  position: fixed;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer;
}
  
.content {
  margin: 15% auto;
  background-color: white;
  border-radius: 0.25rem;
  width: 50vw;
  padding: 2rem;
  position: relative;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card Styles */

.cardContainer {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  border: 5px solid #fefefe;
}

.card:nth-child(6n - 5) {
  height: 25%;
}

.card:nth-child(6n-4) {
  height: 75%;
}

.card:nth-child(6n-3) {
  height: 50%;
}

.card:nth-child(6n-2) {
  height: 50%;
}

.card:nth-child(6n-1) {
  height: 66.666%;
}

.card:nth-child(6n) {
  height: 33.333%;
}

.btnContainer {
  padding: 20px 0 0 0;
}

.button-style {
  border: none;
  outline: none;
  padding: 10px 0;
  width: 110px;
  margin: 0 10px;
  background: #000000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: 480px) {
  .panel-container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}


/* @import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.header {
  background-color: black;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.container {
  display: flex;
  width: 60vw;
}

p {
  margin: 2rem;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  padding: 0 10%;
}

.header nav {
  height: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.links {
  margin: 0 1rem;
  width: 5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.header li:hover,
.header li:active,
.header li.active {
  color: #fe8e27;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fe8e27;
  cursor: pointer;
}

.links:hover,
.links:active {
  color: #fe8e27;
}

.link__list li {
  text-decoration: none;
  list-style: none;
}

.abouts {
  color: black;
  text-decoration: none;
  text-align: center;
}

.abouts:hover,
.abouts:active {
  color: #fe8e27;
  cursor: pointer;
}

.logo {
  width: 6rem;
  position: relative;
  top: 30px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
} */